/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 100%;
}

body {
  font-family: Jost, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4375rem 1.25rem;
}
@media (min-width: 992px) {
  .header {
    padding: 4rem 0;
  }
}
.header__title {
  display: flex;
  align-items: center;
}
.header__text {
  font-size: 1.5rem;
  line-height: 0.875rem;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
.header__icon {
  margin-right: 1rem;
}
.header__nav {
  display: none;
}
@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .header__nav ul {
    display: flex;
    list-style: none;
  }
  .header__nav ul li:not(:first-child) {
    margin-left: 2.625rem;
  }
  .header__nav ul li a {
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: #333136;
    font-weight: 400;
    letter-spacing: 0.125rem;
    text-decoration: none;
  }
  .header__nav ul li a:hover {
    text-decoration: underline;
  }
}

.intro {
  background-color: #E7816B;
  padding: 80px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .intro {
    overflow: hidden;
    border-radius: 15px;
    padding: 9.0625rem 5.9375rem;
  }
}
.intro__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .intro {
    flex-direction: row;
  }
}
.intro__title {
  font-size: 2rem;
  line-height: 2.25rem;
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  text-align: center;
}
@media (min-width: 992px) {
  .intro__title {
    font-size: 3rem;
    line-height: 3rem;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    text-align: left;
  }
}
.intro__text {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  margin-top: 0.875rem;
  text-align: center;
}
@media (min-width: 992px) {
  .intro__text {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    margin-top: 1.875rem;
    text-align: left;
  }
}
.intro__cta {
  margin-top: 1.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  .intro__cta {
    margin-top: 2.5rem;
    margin-right: auto;
  }
}
.intro__img {
  margin-bottom: -200px;
  margin-top: 80px;
  filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
}
@media (min-width: 992px) {
  .intro__img {
    margin-top: 0;
    margin-left: 6.25rem;
    margin-bottom: -240px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
  }
}

.card {
  background-size: cover;
  padding: 64px 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card--250 {
  height: 250px;
}
.card--webdesign {
  background-image: url("../../resources/images/image1.png");
}
.card--appdesign {
  background-image: url("../../resources/images/image2.png");
}
.card--graphicdesign {
  background-image: url("../../resources/images/image3.png");
}
.card--primary {
  background-color: #E7816B;
}
.card__title {
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1.4px;
}
.card__title--big {
  font-size: 32px;
  line-height: 36px;
}
.card__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  line-height: 21.68px;
  font-weight: 500;
  letter-spacing: 5px;
  display: flex;
}
.card__text {
  color: #FFFFFF;
  margin-top: 6px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}
.card__cta {
  margin-top: 32px;
}
.card__chevron {
  margin-left: 16px;
}
.card:not(:last-of-type) {
  margin-bottom: 24px;
}

.btn {
  padding: 18px 24px;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #333136;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 500;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #FFAD9B;
  color: #FFFFFF;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-card__title {
  margin-top: 48px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 500;
  line-height: 26px;
  font-size: 20px;
  color: #333136;
}
.skill-card__text {
  margin-top: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333136;
}
.skill-card:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 252px 24px 64px;
  background-color: #1D1C1E;
}
.footer-header {
  width: 100%;
}
.footer-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-header__text {
  font-family: Spartan, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 26.88px;
  letter-spacing: 5px;
  font-weight: 700;
}
.footer-header__icon {
  margin-right: 16px;
}
.footer-header__separator {
  width: 100%;
  margin: 32px 0;
  opacity: 0.1;
}
.footer-nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.footer-nav__item:not(:last-of-type) {
  margin-bottom: 32px;
}
.footer-nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.footer-nav__link:hover, .footer-nav__link:focus, .footer-nav__link:active {
  text-decoration: underline;
}
.footer-content {
  padding-top: 40px;
}
.footer-content__address {
  text-align: center;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-content__address--stronger {
  font-weight: 700;
}
.footer-content__address:not(:last-of-type) {
  margin-bottom: 40px;
}
.footer-socials {
  margin-top: 42.25px;
}
.footer-socials .socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials .socials-list__item {
  margin: 0 8px;
}
.footer-socials .socials-list__item:hover svg, .footer-socials .socials-list__item:hover path, .footer-socials .socials-list__item:focus svg, .footer-socials .socials-list__item:focus path, .footer-socials .socials-list__item:active svg, .footer-socials .socials-list__item:active path {
  fill: #FFAD9B;
}
.intro-section {
  overflow-y: hidden;
}

.cards-section {
  padding: 0 1.5rem;
  margin-top: 7.5rem;
  background-color: #FFFFFF;
}
@media (min-width: 992px) {
  .cards-section {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 24px;
  }
  .cards-section > :nth-child(1) {
    grid-area: 1/1/3/2;
    height: 100%;
  }
  .cards-section > :nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .cards-section > :nth-child(3) {
    grid-area: 2/2/3/3;
  }
  .cards-section .card {
    margin: 0;
  }
}

.skills-section {
  padding: 0 1.5rem;
  margin-top: 7.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 992px) {
  .skills-section {
    margin-top: 10rem;
    display: flex;
  }
}

.contact-section {
  z-index: 1;
}
.contact-section .contact {
  margin-bottom: -80px;
}
