.btn{
    padding: toRem(18) toRem(24) ;
    background-color: $light;
    text-decoration: none;
    border-radius: 8px;
    transition: all 200ms;
    @include font(15,15,500,$dark);
    &:hover, &:focus, &:active{
        background-color: $active;
        color: $light;
    }
}