.btn{
    padding: 18px 24px ;
    background-color: $light;
    text-decoration: none;
    color: $dark;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 500;
    &:hover, &:focus, &:active{
        background-color: $active;
        color: $light;
    }
}