.card{


  &--medium{
    height: toRem(250);
    @include md-breakpoint(){
      height: toRem(308);
    }
  }

  &--md-100{
    @include md-breakpoint(){
      height: 100%;
    }
  }

  background-color: $primary;
  &--padding{
    padding: toRem(64) toRem(24);
    @include md-breakpoint(){
      padding: toRem(95) toRem(73);
    }
  }

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;

  &__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    transition: all 200ms;
  }

  &:hover, &:focus, &:active{
    .card__bg{
      opacity: 0.2;
    }
  }

  &__title{
    @include font(28,36,500);
    letter-spacing: 1.4px;
    z-index: 2;

    &--big{
      @include font(32,36,500);
    }
  }

  &__link{
    @include font(15,21.68,500);
    text-decoration: none;
    letter-spacing: 5px;
    display: flex;
    z-index: 2;
  }

  &__text{
    @include font(15,25);
    margin-top: 6px;

  }

  &__cta{
    margin-top: toRem(32);
    @include md-breakpoint(){
      margin: 0;
    }
  }

  &__chevron{
    margin-left: 16px;
  }

  &:not(:last-of-type){
    margin-bottom: 24px;

  }
}