.card{

  &--250{
    height: 250px;
  }

  &--webdesign{
    background-image: url('../../../resources/images/image1.png');
  }
  &--appdesign{
    background-image: url('../../../resources/images/image2.png');
  }
  &--graphicdesign{
    background-image: url('../../../resources/images/image3.png');
  }

  &--primary{
    background-color: $primary;
  }

  background-size: cover;
  padding: 64px 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title{
    color: $light;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.4px;

    &--big{
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__link{
    color: $light;
    text-decoration: none;
    font-size: 15px;
    line-height: 21.68px;
    font-weight: 500;
    letter-spacing: 5px;
    display: flex;
  }

  &__text{
    color: $light;
    margin-top: 6px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;

  }

  &__cta{
    margin-top: 32px;
  }

  &__chevron{
    margin-left: 16px;
  }

  &:not(:last-of-type){
    margin-bottom: 24px;
  }
}