.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include padding-v(252,64);
  background-color: $darker;
  @include md-breakpoint(){
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    @include padding-v(252,72);
  }

  &-header{
    width: 100%;
    @include md-breakpoint(){
      display: grid;
      grid-area: 1 / 1 / 2 / -1;
      grid-template: 1fr auto / auto auto;
    }

    &__title{
      display: flex;
      justify-content: center;
      align-items: center;
      @include md-breakpoint(){
        justify-content: left;
      }
    }
    &__text {
      @include font(24,16,700,$light,center,5);
    }
    &__icon{
      margin-right: toRem(16);
    }

    &__separator{
      width: 100%;
      margin: toRem(32) 0;
      opacity: 0.1;
      @include md-breakpoint(){
        grid-area: 2 / 1 / -1 / -1;
        margin: 0;
        margin-top: toRem(40);
        margin-bottom: toRem(31);
      }
    }
  }

  &-nav{

    &__list{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style: none;
      gap: toRem(32);
      @include md-breakpoint(){
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: toRem(42);
      }
    }
    &__item{
      @include md-breakpoint(){
        margin: 0;
      }
    }
    &__link{
      @include font(14,14,400,$light,center,2);
      text-decoration: none;
      &:hover, &:focus, &:active{
        text-decoration: underline;
      }
    }

  }
  &-content{
    padding-top: toRem(40);
    &__address{
      @include font(16,26,400, rgba($light, 0.5));
      font-style: normal;
      &--stronger{
        font-weight: 700;
      }
      &:not(:last-of-type){
        margin-bottom: toRem(40);
      }
      @include md-breakpoint(){
        text-align: left;
        &:not(:last-of-type){
          margin-bottom: toRem(0);
        }
      }
    }
    @include md-breakpoint(){
      padding-top: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &-socials{
    margin-top: toRem(42.25);
    .socials{
      &-list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &__item{
          margin: 0 toRem(8);
          &:hover, &:focus, &:active{
            svg, path {
              fill: $active;
            }
          }
        }
        &__link{

        }
      }
    }
    @include md-breakpoint(){
      display: flex;
      justify-content: right;
      align-items: flex-end;
    }
  }
}