.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include padding-v(36);
  @include md-breakpoint(){
    @include padding-v(72);
  }

  &__title{
    display: flex;
    align-items: center;
  }
  &__text{
    @include font(24,16,700,$black, center, 8);
  }
  &__icon{
    margin-right: toRem(16);
  }

  &__nav{
    display: none;
    @include md-breakpoint(){
      display: block;
    }
    &-list{
      display: flex;
      list-style: none;
      gap: toRem(42);
    }
    &-item{
    }
    &-link{
      text-decoration: none;
      @include font(14,14,400,$dark,center,2);
      &:hover{
        text-decoration: underline;
      }
    }
  }

  &__burger{
    @include md-breakpoint(){
      display: none;
    }
  }
}