.intro{
  background-color: $primary;
  padding: 80px 24px 0;
  @include lg-breakpoint(){
    overflow: hidden;
    border-radius: 15px;
    padding: rem(145) rem(95);
  }

  &__block{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  display: flex;
  flex-direction: column;
  align-items: center;
  @include lg-breakpoint(){
    flex-direction: row;
  }

  &__title{
    @include font(32,36,$light,500);
    text-align: center;
    @include lg-breakpoint(){
      @include font(48,48,$light,500);
      text-align: left;
    }
  }

  &__text {
    @include font(15,25,$light,400);
    margin-top: rem(14);
    text-align: center;
    @include lg-breakpoint(){
      @include font(16,26,$light,400);
      margin-top: rem(30);
      text-align: left;
    }
  }

  &__cta {
    margin-top: rem(24);
    text-align: center;
    @include lg-breakpoint(){
      margin-top: rem(40);
      margin-right: auto;
    }
  }

  &__img{
    margin-bottom: -200px;
    margin-top: 80px;
    filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
    @include lg-breakpoint(){
      margin-top: 0;
      margin-left: rem(100);
      margin-bottom: -240px;
    }
  }
}