.intro{
  padding: toRem(80) toRem(24) 0;


  @include lg-breakpoint(){
    &.card{
      padding: toRem(145) toRem(95);
      padding-right: 40%;
    }

  }

  &__title{
    @include font(32,36,500);
    @include lg-breakpoint(){
      @include font(48,48,500,unchanged,left);
    }
  }

  &__text {
    margin-top: toRem(14);
    @include font(15,25,400);
    @include lg-breakpoint(){
      margin-top: toRem(30);
      @include font(16,26,400,unchanged,left);
    }
  }

  &__cta {
    margin-top: toRem(24);
    @include lg-breakpoint(){
      margin-top: toRem(40);
      align-self: flex-start;
    }
  }

  &__img{
    margin-top: toRem(80);
    margin-bottom: toRem(-200);
    filter: drop-shadow(toRem(20) toRem(-40) toRem(80) rgba(93, 2, 2, 0.497569));
    @include lg-breakpoint(){
      position: absolute;
      right: toRem(95);
      margin-bottom: toRem(-150);
    }
  }
}