.skill-card{
  display: flex;
  flex-direction: column;
  align-items: center;



  &__icon{

  }
  &__title{
    @include font(20,26,500,$dark);
    margin-top: 48px;
    letter-spacing: 5px;
  }

  &__text{
    @include font(16,26,400,$dark);
    margin-top: 32px;
  }

  &:not(:last-of-type){
    margin-bottom: toRem(80);
    @include md-breakpoint(){
      margin-right: toRem(20);
      margin-bottom: 0;
    }
  }
}